!!! 5
%html{:lang => 'en'}
  %head
    %title 3d playground
    %meta{:charset => 'utf-8'}
    %link{rel: 'shortcut icon', href: '/favicon.ico'}
    = stylesheet_link_tag :application
    = yield :javascript

  %body
    = yield
